a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
}


element.style {
    opacity: 1;
}
/* clearfix */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* 숨긴 콘텐츠 */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

/* 탭메뉴 */
.skip-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.skip-menu li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.skip-menu li a {
    display: block;
    font-size: 0;
}
.skip-menu li a:focus {
    font-size: 2rem;
    text-decoration: underline;
}

/* 헤더 */
.header-background {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f6f5ef;
    z-index: 999;
}
.header {
    margin: 0 auto;
    width: 1100px;
}
.header-heading {
    float: left;
    padding: 24px 0;
    font-size: 10px;
}
.header-heading a {
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.header-heading a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat;
}
.utility {
    float: right;
    min-width: 500px;
    margin-top: 15px;
    margin-right: 40px;
}
.utility-list {
    float: left;
    padding-top: 3px;
}
.utility-list li {
    position: relative;
    float: left;
}
.utility-list li::after {
    content: '|';
    position: absolute;
    top: 5px;
    right: 0;
    color: #555;
}
.utility-list li:last-child::after {
    content: '';
}
.utility-list li a {
    display: block;
    padding: 5px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    color: #555;
}
.utility-list li a:hover,
.utility-list li a:focus {
    text-decoration: underline;
}

p.btn_search {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
}

p.btn_search a {
    display: block;
    position: absolute;
    right: -435px;
    top: 4px;
}

p.btn_search a img {
    position: absolute;
    z-index: 1;
}

.ally {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
}

.btn_search input {
    background: none;
    border: none;
    color: #777;
    display: none;
    font-size: 12px;
    height: 22px;
    left: 0;
    padding: 0 10px;
    position: absolute;
    top: 5px;
    width: 123px;
}


.navigation {
    float: right;
    margin-top: 19px;
}
.menu-item {
    float: left;
}
.sub-menu-heading a {
    padding: 10px 30px 40px;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
    color: #333333;
}
.sub-menu-heading a:hover,
.sub-menu-heading a:focus {
    text-decoration: underline;
    color: #5f8c05;
    background-color: #2c2a29;
}
.sub-menu-box {
    display: none;
    position: absolute;
    top: 123px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #2c2a29;
    transition: all 0.5s;
}
.sub-menu {
    margin: 0 auto;
    width: 1100px;
    font-size: 0;
}
.sub-menu > li {
    display: inline-block;
    padding: 30px 0;
    width: 20%;
    vertical-align: top;
}
.sub-menu > li h4 {
    margin-bottom: 20px;
}
.sub-menu > li h4 a {
    font-size: 15px;
    color: #fff;
}
.sub-menu > li h4 a:hover,
.sub-menu > li h4 a:focus {
    text-decoration: underline;
}
.sub-menu > li > ul > li > a {
    line-height: 2rem;
    font-size: 11px;
    color: #999;
}
.sub-menu > li > ul > li > a:hover,
.sub-menu > li > ul > li > a:focus {
    text-decoration: underline;
}
.additional-menu-box {
    background: url(../img/additional-background.jpg);
}
.additional-menu {
    margin: 0 auto;
    padding: 30px 0;
    width: 1100px;
}
.additional-menu-title {
    margin-top: 8px;
    font-weight: 700;
    color: #999;
}
.additional-menu-title a:hover,
.additional-menu-title a:focus {
    text-decoration: underline;
}
.additional-menu-title:first-child {
    margin-top: 0;
}
.additional-menu-description {
    line-height: 1.8rem;
    color: #64a70b;
}
.new-icon::after {
    content: 'NEW';
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    background-color: #247f00;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 10px;
}

/* 비주얼 */
#topWrap {
    height: 100% !important;
    border-top: 2px solid #000;
    position: relative;
}

.main-visual_wrap {
    height: 760px;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-visual_inner {
    box-sizing: border-box;
    position: relative;
    max-width: 1080px;
    height: 98%;
    margin: 0 auto;
    padding-top: 190px;
    left: 3px;
}

.main-visual_slogan {
    width: 34%;
    max-width: 363px;
}

.set_01 {
    bottom: 11.5%;
    left: 22.5%;
    width: 21%;
    max-width: 224px;
}

.btn_slogan, .set_common {
    position: absolute;
}

.set_01 > a {
    left: 0;
    width: 62%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 99;
}

.set_common img {
    width: 100%;
}

.set_01:after {
    top: 64%;
    left: -80%;
    width: 79%;
    max-width: 177px;
    background-image: url(../img/visual_bev1-1.png);
}

.set_common:after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_03 {
    bottom: 16%;
    left: 42.7%;
    width: 26%;
    max-width: 277px;
}

.set_03 > a {
    left: 14%;
    width: 45%;
}

.set_common > a {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 99;
}

.set_03:after {
    top: -35%;
    left: 13%;
    width: 49%;
    max-width: 135px;
    background-image: url(../img/visual_bev3-1.png);
}

.set_common:after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_05 {
    bottom: 22%;
    left: 63.7%;
    width: 22%;
    max-width: 233px;
}

.set_05 > a {
    left: 0;
    width: 55%;
}

.set_05:after {
    top: -28%;
    left: -5%;
    width: 62%;
    max-width: 144px;
    background-image: url(../img/visual_bev5-1.png);
}

.set_common:after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_02 {
    bottom: 8.2%;
    left: 31.8%;
    width: 22%;
    max-width: 232px;
}

.set_02 > a {
    left: 4%;
    width: 63%;
}

.set_02:after {
    top: 104%;
    left: -3%;
    width: 75%;
    max-width: 173px;
    background-image: url(../img/visual_bev2-1.png);
}

.set_common::after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_04 {
    bottom: 10.9%;
    left: 54.7%;
    width: 24%;
    max-width: 249px;
}

.set_04 > a {
    left: 9%;
    width: 47%;
}

.set_cmomon > a {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 99%;
}

.set_04::after {
    top: 92%;
    left: 5%;
    width: 58%;
    max-width: 144px;
    background-image: url(../img/visual_bev4-1.png);
}

.set_cmomon::after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_07 {
    bottom: 11.5%;
    left: 81%;
    width: 25%;
    max-width: 268px;
}

.set_07 > a {
    left: 16%;
    width: 47%;
}

.set_07::after {
    top: -27%;
    left: 2%;
    width: 73%;
    max-width: 194px;
    background-image: url(../img/visual_bev7-1.png);
}

.set_cmomon::after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.set_06 {
    bottom: 7.4%;
    left: 73.5%;
    width: 25%;
    max-width: 252px;
}

.set_06::after {
    top: 100%;
    left: 3%;
    width: 58%;
    max-width: 146px;
    background-image: url(../img/visual_bev6-1.png);
}

.set_common::after {
    content: "";
    position: absolute;
    height: 33%;
    max-height: 78px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_slogan {
    box-sizing: border-box;
    top: 310.5px;
    left: 24.5%;
    width: 125px;
    height: 38px;
    line-height: 34px;
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 3px;
    z-index: 5;
}

.btn_slogan a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: background-color .5s;
}

.btn_slogan a:hover,
.btn_slogan a:focus {
    color: #fff;
    background-color: red;
    text-decoration: underline;
}

/* Floating 뱃지 */
.layer_floating {
    left: auto;
    right: 9%;
    position: fixed;
    top: 138px;
    width: 130px;
    margin-left: 485px;
    z-index: 999;
}

.layer_floating a {
    display: block;
    width: 100%;
    height: 100%;
}

.layer_floating img {
    display: block;
    width: 100%;
}

.layer_floating .plcc {
    margin-top: 8px;
}

/* 공지사항 & 프로모션 */
.notice-n-promotion-backgound {
    /* display: none; */
    background-image: linear-gradient(to right, #111 55.5%, #f5f4ef 45.5%);
}
.notice-n-promotion {
    margin: 0 auto;
    width: 1100px;
    background: no-repeat;
    background-position: -70px 0;
    background-size: cover;
    line-height: 64px;
}
.notice {
    float: left;
    width: 684px;
}
.notice-heading,
.promotion-heading {
    float: left;
    font-size: 1.7rem;
}
.notice-heading {
    color: #fff;
}
.notice-viewer {
    position: relative;
    margin-top: 21px;
    width: 560px;
    height: 2.4rem;
    float: left;
    left: 30px;
    overflow: hidden;
}
.notice-viewer ul {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.4rem;
}
.notice-viewer ul li a {
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
}
.notice-more-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 540px;
    text-indent: 36px;
    white-space: nowrap;
}
.notice-more-btn:after {
    content: '';
    position: absolute;
    top: 13px;
    left: -230px;
    right: 300px;
    width: 100%;
    height: 100%;
    background: url(../img/notify-more.png) no-repeat;
    background-size: cover;
}
.promotion {
    float: left;
    width: 416px;
}
.promotion-heading {
    margin-left: 160px;
}
.popup-btn {
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    text-indent: 35px;
    white-space: nowrap;
    overflow: hidden;
}
.popup-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/promotion-btn.png) no-repeat;
    background-size: cover;
}

/* Rewards */
.new-rewards_wrap{
    padding-top: 30px;
    padding-bottom: 195px;
    background-color: #1e3932;
}

.new-rewards_inner {
    max-width: 1080px;
    margin: 0 auto;
}

.new-rewards_logo {
    float: left;
    width: 16.3%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.new-rewards_logo img {
    width: auto;
    max-width: 100%;
}

.new-rewards_conts {
    box-sizing: border-box;
    float: left;
    width: calc(83.7% - 80px);
    padding-right: 30px;
    color: #fff;
    letter-spacing: 0.5px;
}

.new-rewards_conts .info-cont {
    position: relative;
    margin-bottom: 22px;
    border-bottom: 1px solid #4b615b;
}

.new-rewards_conts .info-cont_txt {
    margin-bottom: 12px;
}

.new-rewards_conts .info-cont_txt h2 {
    line-height: 1.4;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: normal;
}

.new-rewards_conts .info-cont_txt p {
    line-height: 1.4;
    font-size: 17px;
}

.new-rewards_conts .btn-signin_group {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 0;
}

.new-rewards_conts .btn-signin_group a {
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    line-height: 36px;
    padding-left: 18.5px;
    padding-right: 18.5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.new-rewards_conts .btn-signin_join {
    background-color: #00704a;
    border: 2px solid #00704a;
}

.new-rewards_conts .btn-signin_login {
    margin-left: 9px;
    background-color: transparent;
    border: 2px solid #fff;
}

.new-rewards_conts .gift-cont {
    position: relative;
}

.new-rewards_conts .gift-cont_txt p {
    line-height: 1.4;
    font-size: 14px;
}

.new-rewards_conts .btn_egift {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 183px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn_egift:hover,
.btn_egift:focus {
    text-decoration: underline;
}

.btn-signin_join:hover,
.btn-signin_join:focus {
    text-decoration: underline;
}

.btn-signin_login:hover,
.btn-signin_login:focus {
    text-decoration: underline;
}

/* Christmas */
#main-bean_wrap {
    background-image: url(../img/christmas_bg.jpg);
    background-color: #f8ccd7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-bean_inner {
    position: relative;
    max-width: 1080px;
    height: 573px;
    margin: 0 auto;
}

.bean_img_box {
    left: 1% !important;
    width: 50%;
    top: 12.22%;
    position: absolute;
}

.bean_txt_box {
    position: absolute;
    right: 7.5% !important;
    width: 41%;
    top: 30.73%;
    max-width: 425px;
}

.bean_img_box img,
.bean_txt_box img {
    width: 100%;
}

.bean-detail_btn {
    position: absolute;
    width: 126px;
    height: 38px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    z-index: 6;
    top: 416px;
    left: 53%;
}

.bean-detail_btn a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #555;
    border-radius: 4px;
    color: #555;
}

.bean-detail_btn a:hover,
.bean_detail_btn a:focus {
    background-color: #000;
    color: #fff;
    text-decoration: underline;
}

/* Hawaii */
.reserve-bean-box {
    height: 357px;
    background-color: #c3d2d9;
}

.reserve-bean__title {
    background-color: #f8fbf8;
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.reserve_wrap {
    background-color: #f8fbf8;
    overflow: hidden;
}

.reserve_inner {
    left: 20px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve_title {
    position: relative;
    padding-top: 85px;
    padding-bottom: 106px;
    padding-left: 35px;
    z-index: 10;
    float: left;
}

.reserve_visual {
    position: absolute;
    top: 0;
    right: -41%;
    margin-top: -36px;
    background-color: #2f5d68;;
}

.reserve_detail-btn {
    position: absolute;
    width: 126px;
    height: 38px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    z-index: 20;
    top: 250px;
    left: 23%;
}

.reserve_detail-btn a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #774f20;
    border-radius: 4px;
    color: #774f20;
    transition: all 0.3s;
}

.reserve_detail-btn a:hover,
.reserve_detail-btn a:focus {
    color: #fff;
    background-color: #000;
    text-decoration: underline;
}


.reserve-bean__title span {
    display: block;
    padding-left: 160px;
    color: #333;
}
.reserve-bean__title span:first-child {
    margin-bottom: 10px;
    font-size: 1.7rem;
    letter-spacing: .5rem;
    font-weight: 700;
}
.reserve-bean__title span:nth-child(2),
.reserve-bean__title span:nth-child(3) {
    font-family: 'Rowdies', cursive;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
}
.reserve-bean__title span:last-child {
    margin-top: 10px;
    margin-bottom: 90px;
    font-size: 2rem;
    letter-spacing: 1.2rem;
}
.reserve-bean__info {
    padding-left: 160px;
}
.reserve-bean__info li {
    position: relative;
    margin: 5px 0;
    padding-left: 10px;
    color: #555;
}
.reserve-bean__info li::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
}

/* favorite */
.favorite-background {
    padding: 90px 0 200px;
    background: url(../img/favorite-background.jpg) no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}
.favorite {
    margin: 0 auto;
    width: 1100px;
    background: url(../img/favorite-img.png) no-repeat right;
}
.favorite-text {
    width: 362px;
    text-align: right;
    color: #fff;
}
.favorite-title {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
}
.favorite-title span {
    display: block;
    margin-bottom: -10px;
}
.favorite-title span:first-child {
    letter-spacing: 15px;
}
.favorite-title span:last-child {
    letter-spacing: 7px;
    font-size: 45px;
    font-weight: 400;
}
.favorite-sub-title {
    display: inline-block;
    margin-top: 40px;
    font-size: 2.8rem;
    text-align: right;
}
.favorite-sub-title span {
    font-weight: 700;
}
.favorite-description {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.4rem;
    line-height: 1.5;
}
.favorite-description span {
    display: block;
}
.favorite-more-btn {
    padding: 8px 20px;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.3s;
}
.favorite-more-btn:hover,
.favorite-more-btn:focus {
    color: #000;
    background-color: #fff;
    text-decoration: underline;
}

/* Magazine */
.reserve3Wrap {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.reserve3_pc {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 0;
}

.reserve3_pc::before {
    content: "";
    position: absolute;
    top: 61.8%;
    left: 9.5%;
    width: 95.3%;
    height: 1px;
    background-color: #cccccb;
}

.reserve3_pc .reserve_left {
    position: relative;
    width: 38.5%;
    padding-left: 3.5%;
}

.reserve3_pc > div {
    display: inline-block;
    vertical-align: top;
}

.reserve3_pc .reserve_right {
    width: 45.6%;
    margin-left: 9%;
    margin-top: 2.7%;
    padding-right: 3.5%;
}

.reserve3_pc > div {
    display: inline-block;
    vertical-align: top;
}

.reserve3_pc .reserve_img-txt {
    position: relative;
    margin-top: 32%;
}

.reserve3_pc::after {
    content: "";
    position: absolute;
    left: 44%;
    top: 136px;
    width: 1px;
    height: 64%;
    background-color: #cccccb;
}

.reserve3Wrap .look-detail_btn {
    position: absolute;
    bottom: 31.5%;
    width: 287px;
    height: 17px;
    margin-left: calc(50% - 20px);
    padding: -1px 10px;
    text-indent: -9999px;
    -webkit-transition: background-color .8s;
}

.reserve3Wrap .look-detail_btn a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/btn_magazine_pc.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.look-detail_btn a:hover,
.look-detail_btn a:focus {
    background-color:  #774f20;
    color: #fff;
    text-decoration: underline;
}


/* Store */
#storeWrap {
    background: url(../img/store_bg.jpg);
    background-size: 100% auto;
    height: 400px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrap_inner {
    left: 50%;
    margin-left: -640px;
    position: absolute;
    top: 0;
    width: 1280px;
}

.store_exp_img01 {
    background: url(../img/store-img1.png);
    height: 228px;
    left: 390px;
    position: absolute;
    top: 149px;
    width: 228px;
    z-index: 5;
}

.store_exp_img02 {
    background: url(../img/store-img2.png);
    height: 312px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 366px;
    z-index: 4;
}

.store_exp_img03 {
    background: url(../img/store-img3.png);
    height: 142px;
    left: 520px;
    position: absolute;
    top: -60px;
    width: 343px;
    z-index: 4;
}

.store_exp_img04 {
    background: url(../img/store-img4.png);
    height: 102px;
    position: absolute;
    right: 30px;
    top: 298px;
    width: 230px;
    z-index: 4;
}

.store_txt01 {
    background: url(../img/store_txt01.png);
    height: 54px;
    position: absolute;
    overflow: hidden;
    text-indent: -20000px;
    top: 100px;
    width: 385px;
    z-index: 4;
}

.store_txt02 {
    background: url(../img/store_txt02.png);
    height: 61px;
    position: absolute;
    overflow: hidden;
    text-indent: -20000px;
    top: 168px;
    width: 366px;
    z-index: 4;
}

.store_btn {
    border: 2px solid #222;
    border-radius: 3px;
    height: 34px;
    left: 64%;
    line-height: 34px;
    margin-left: -62px;
    position: absolute;
    top: 260px;
    width: 121px;
    z-index: 4;
}

.store_btn a {
    color: #222;
    display: black;
    height: 100%;
    text-align: center;
    padding-left: 35%;
    width: 100%;
    -webkit-transition: background-color .7s, color .7s; transition: background-color .7s, color .7s; }

.store-search-btn {
    position: relative;
    padding: 7px 32px;
    border: 2px solid #000;
    top: 272px;
    left: 949px;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.store-search-btn:hover,
.store-search-btn:focus {
    background-color: #000;
    color: #fff;
    text-decoration: underline;
}

/* Footer */
.footer-background {
    background-color: #2c2a29;
}
.footer {
    width: 1100px;
    margin: 0 auto;
}
.footer-list {
    font-size: 0;
    padding: 40px 10px;
}

.footer-list-item {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    font-size: 1rem;
}
.footer-list-item h3 {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 0 10px 0;
    font-weight: 400;
}
.footer-list-item h3 a:hover,
.footer-list-item h3 a:focus {
    text-decoration: underline;
}
.footer-list-item li {
    font-size: 1.2rem;
    color: #fff;
}
.footer-list-item li {
    font-size: 1.2rem;
    color: #fff;
    line-height: 2rem;
}
.footer-list-item li a:hover,
.footer-list-item li a:focus {
    text-decoration: underline;
}
.aside-wrap {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #282828;
}
.aside-wrap aside {
    width: 1134px;
    margin: 0 auto;
}
.awards ul {
    font-size: 0;
    white-space: nowrap;
}
.aside-wrap .awards li {
    display: inline-block;
}
.aside-wrap .awards li:nth-child(1) span {
    background-image: url(../img/footer_award17_01.jpg);
    width: 189px;
    height: 40px;
    display: block;
}
.aside-wrap .awards li:nth-child(2) span {
    background-image: url(../img/footer_award17_02.jpg);
    width: 189px;
    height: 40px;
    display: block;
}
.aside-wrap .awards li:nth-child(3) span {
    background-image: url(../img/footer_award17_03.jpg);
    width: 189px;
    height: 40px;
    display: block;
}
.aside-wrap .awards li:nth-child(4) span {
    background-image: url(../img/footer_award17_04.jpg);
    width: 189px;
    height: 40px;
    display: block;
}
.aside-wrap .awards li:nth-child(5) span {
    background-image: url(../img/footer_award17_05.jpg);
    width: 189px;
    height: 40px;
    display: block;
}
.aside-wrap .awards li:nth-child(6) span {
    background-image: url(../img/footer_award17_06.jpg);
    display: block;
    width: 189px;
    height: 40px;
}
.corp {
    margin-top: 60px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}
.corp li {
    display: inline-block;
    position: relative;
}
.corp li a {
    display: block;
    padding: 10px;
}
.corp li a:hover,
.corp li a:focus {
    text-decoration: underline;
}
.corp li:first-child a {
    color: #00b050;
}
.corp li::after {
    position: absolute;
    content: '|';
    display: block;
    top: 9px;
    right: -3px;
}
.corp li:last-child::after {
    content: '';
}
.info {
    text-align: center;
    padding: 20px 0 20px 0;
}
.info li {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 5px;
}
.info li:last-child {
    margin-right: 0;
}
.info li a {
    color: #fff;
    font-size: 1.2rem;
}
.info li:hover a,
.info li a:focus {
    text-decoration: underline;
}
.address {
    text-align: center;
}
.address span {
    padding: 10px 5px;
    display: inline-block;
    font-style: normal;
    color: #999;
    font-size: 1.2rem;
}
.copyringt {
    padding: 10px 0 40px 0;
    display: block;
    text-align: center;
    color: #999;
    font-size: 1.2rem;
}